body {
  background: ivory;
  margin: auto;
  color: black
}

img {
  display: block;
  margin: 5px;
  position: float-right;
}

div {
  padding: 10px;
}

.blueElement {
  background-color: #b7d2e7;
  margin: 0;
}

.greenElement {
  background-color: #c4dfb9;
}

.aquaElement {
  background-color: #95cecb;
}

.yellowElement {
  background-color: #E4E38F;
}

.pinkElement {
  background-color: #DAAFB1;
}

p {
  font: bold 14px/1.5 Helvetica, Arial, sans-serif;
}

p {
  letter-spacing: 3px;
  margin: 1px;
}

p {
  border-right-color: pink
}

table {
  table-layout: auto;
}