* {
  box-sizing: border-box;
}

.robot {
    border: 1px solid white;
    width: 1080px;
    height: 2060px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Head */

.head {
    border: 1px solid white;
    width:960px;
    height:570px;
    margin:auto;
}

.head-contents {
    border: 4px solid gray;
    position:relative;
    padding: 10px;
    width: 160px;
    height: 160px;
    right:-340px;
    top: 410px;
    background: white;
}

.eye-left {
    border:2px solid black;
    position: relative;
    width:40px;
    height: 40px;
    top: 20px;
}

.eye-left_pupil {
    border:1px solid blue;
    background: blue;
    position: relative;
    width: 20px;
    height: 20px;
    left: 2px;
    top: -10px;
}

.eye-right {
    border:2px solid black;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    top: -40px;
}

.eye-right_pupil {
    border:1px solid blue;
    background: blue;
    position: relative;
    width: 20px;
    height: 20px;
    left: 94px;
    top: -30px;
}

.nose {
    border:2px solid gray;
    position: relative;
    width: 20px;
    height: 20px;
    left: 52px;
    top:-10px;
}

.mouth {
    border:4px solid pink;
    position: relative;
    width: 30px;
    height: 30px;
    left: 48px;
    top: 5px;
    border-radius: 15px;
}

/* Abdomen */

.abdomen {
    border: 1px solid white;
    width:960px;
    height:328px;
    margin:auto;
}

.abdomen-contents {
    border: 1px solid gray;
    position:relative;
    width: 360px;
    height: 352px;
    right:-240px;
    top: -5px;
    background: white;
}

.neck {
    border: 4px solid gray;
    position:relative;
    width: 40px;
    height: 40px;
    left: 158px;
}

.clavicle {
    border: 4px solid gray;
    position:relative;
    width: 240px;
    height: 40px;
    left: 60px;
}

.arm-left {
    border: 4px solid gray;
    position:relative;
    width: 40px;
    height: 240px;
    left: 22px;
    top: -40px
}

.finger-far-left {
    border: 1px solid gray;
    background: gray;
    position: relative;
    width: 4px;
    height: 22px;
    left: 18px;
    top: -42px;
}

.finger-next_far-left {
    border: 1px solid gray;
    background: gray;
    position: relative;
    width: 4px;
    height: 26px;
    left: 25px;
    top: -63px;
}
.finger-middle {
    border: 1px solid gray;
    background: gray;
    position: relative;
    width: 4px;
    height: 16px;
    left: 32px;
    top: -90px;
}




/* extremities */

.extremities {
    border: 1px solid white;
    width:960px;
    height:575px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin: auto;
}


.extremities-contents {
    border: 1px solid gray;
    position:relative;
    width: 360px;
    height: 320px;
    right:-224px;
    top: 0px;
    background: white;
}