* {
  box-sizing: border-box;
}

.robot {
    border: 1px solid #FFFFFF;
    width: 1080px;
    height: 2060px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Head */

.head {
    border: 1px solid #FFFFFF;
    width:960px;
    height:570px;
    margin:auto;
}

.head-contents {
    border: 4px solid #A39D9D;
    border-radius: 50px;
    background: #F4F0E1;
    position:relative;
    padding: 10px;
    width: 160px;
    height: 160px;
    right:-340px;
    top: 410px;
}

.eye-left {
    border:2px solid #A39D9D;
    border-radius: 50px;
    position: relative;
    width:40px;
    height: 40px;
    top: 20px;
}

.eye-left_pupil {
    border:1px solid #6998cc;
    border-radius: 50px;
    background: #6998cc;
    position: relative;
    width: 20px;
    height: 20px;
    left: 2px;
    top: -10px;
}

.eye-right {
    border:2px solid #A39D9D;
    border-radius: 50px;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    top: -40px;
}

.eye-right_pupil {
    border:1px solid #6998cc;
    border-radius: 50px;
    background: #6998cc;
    position: relative;
    width: 20px;
    height: 20px;
    left: 94px;
    top: -30px;
}

.nose {
    border:2px solid #A39D9D;
    border-radius: 50px;
    position: relative;
    width: 20px;
    height: 20px;
    left: 52px;
    top:-10px;
}

.mouth {
    border:6px solid #F44E66;
    border-radius: 15px;
    background: #F4E9E9;
    position: relative;
    width: 40px;
    height: 30px;
    left: 43px;
    top: 5px;

}

/* Abdomen */

.abdomen {
    border: 1px solid #FFFFFF;
    width:960px;
    height:328px;
    margin:auto;
}

.abdomen-contents {
    border: 1px solid #FFFFFF;
    position:relative;
    width: 360px;
    height: 352px;
    right:-240px;
    top: -1px;
    background: white;
}

.neck {
    border: 4px solid #A39D9D;
    border-radius: 9px;
    background: #F4F0E1;
    position:relative;
    width: 40px;
    height: 40px;
    left: 158px;
    top: -1px;
}

.clavicle {
    border: 4px solid #A39D9D;
    border-radius:50px;
    background: #F4F0E1;
    position:relative;
    width: 240px;
    height: 40px;
    left: 60px;
    top: -1px;
}

.arm-left {
    border: 4px solid #A39D9D;
    border-radius: 50px;
    background: #F4F0E1;
    position:relative;
    width: 40px;
    height: 240px;
    left: 22px;
    top: -41px
}

.hand-left {
    border: 4px solid #A39D9D;
    background: #F4F0E1;
    border-radius: 50px;
    background: #F4F0E1;
    position:relative;
    width: 40px;
    height: 20px;
    left: 22px;
    top: -50px;
}
.finger1-left {
    border: 1px solid #A39D9D;
    border-radius: 50px;
    background: #A39D9D;
    position: relative;
    width: 4px;
    height: 22px;
    left: 24px;
    top: -55px;
}

.finger2-left {
    border: 1px solid #A39D9D;
    border-radius: 50px;
    background: #A39D9D;
    position: relative;
    width: 4px;
    height: 26px;
    left: 31px;
    top: -73px;
}
.finger3-left {
    border: 1px solid #A39D9D;
    border-radius: 50px;
    background: #A39D9D;
    position: relative;
    width: 4px;
    height: 29px;
    left: 38px;
    top: -99px;
}

.finger4-left {
    border: 1px solid #A39D9D;
    border-radius: 50px;
    background: #A39D9D;
    position: relative;
    width: 4px;
    height: 26px;
    left: 45px;
    top: -128px;
}

.thumb-left {
    border: 1px solid #A39D9D;
    border-radius: 50px;
    background: #A39D9D;
    position: relative;
    width: 6px;
    height: 22px;
    left: 52px;
    top: -156px;
}

.arm-right {
    border: 4px solid #A39D9D;
    border-radius: 50px;
    background: #F4F0E1;
    position:relative;
    width: 40px;
    height: 240px;
    left: 298px;
    top: -425px;
}

.hand-right {
    border: 4px solid #A39D9D;
    background: #F4F0E1;
    border-radius: 50px;
    background: #F4F0E1;
    position:relative;
    width: 40px;
    height: 20px;
    left: 298px;
    top: -432px;
}

.finger1-right {
    border: 1px solid #A39D9D;
    border-radius: 50px;
    background: #A39D9D;
    position: relative;
    width: 4px;
    height: 22px;
    left: 331px;
    top: -437px;
}

.finger2-right {
    border: 1px solid #A39D9D;
    border-radius: 50px;
    background: #A39D9D;
    position: relative;
    width: 4px;
    height: 26px;
    left: 324px;
    top: -458px;
}

.finger3-right {
    border: 1px solid #A39D9D;
    border-radius: 50px;
    background: #A39D9D;
    position: relative;
    width: 4px;
    height: 29px;
    left: 317px;
    top: -482px;
}

.finger4-right {
    border: 1px solid #A39D9D;
    border-radius: 50px;
    background: #A39D9D;
    position: relative;
    width: 4px;
    height: 26px;
    left: 310px;
    top: -510px;
}

.thumb-right {
    border: 1px solid #A39D9D;
    border-radius: 50px;
    background: #A39D9D;
    position: relative;
    width: 6px;
    height: 22px;
    left: 301px;
    top: -538px;
}

.torso {
    border: 4px solid #A39D9D;
    border-radius: 50px;
    background: #F4F0E1;
    position:relative;
    width: 200px;
    height: 260px;
    left: 80px;
    top: -773px;
}

.tie {
    border: 4px solid #A39D9D;
    background: ivory;
    position:relative;
    width: 40px;
    height: 132px;
    left: 75px;
}

.box-one {
    border: 2px solid #724A44;
    background: #724A44;
    position:relative;
    width: 20px;
    height: 20px;
    left: 6px;
    top: 4px;
}

.box-two {
    border: 2px solid #C15C4C;
    background: #C15C4C;
    position:relative;
    width: 20px;
    height: 20px;
    left: 6px;
    top: 8px;
}

.box-three {
    border: 2px solid #724A44;
    background: #724A44;
    position:relative;
    width: 20px;
    height: 20px;
    left: 6px;
    top: 12px;
}

.box-four {
    border: 2px solid #C15C4C;
    background: #C15C4C;
    position:relative;
    width: 20px;
    height: 20px;
    left: 6px;
    top: 16px;
}

.box-five {
    border: 2px solid #724A44;
    background: #724A44;
    position:relative;
    width: 20px;
    height: 20px;
    left: 6px;
    top: 20px;
}
/* extremities */

.extremities {
    border: 1px solid #FFFFFF;
    width:960px;
    height:575px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin: auto;
}


.extremities-contents {
    border: 1px solid #FFFFFF;
    position:relative;
    width: 360px;
    height: 320px;
    right:-224px;
    top: 0px;
    background: white;
}

.hip {
    border: 3px solid #A39D9D;
    border-radius: 50px;
    background: #5B3712;
    position: relative;
    width: 240px;
    height: 20px;
    left: 59px;
    top: -9px;
}

.leg-left {
    border: 3px solid #A39D9D;
    border-radius: 50px;
    background: #5B3712;
    position: relative;
    width: 40px;
    height: 280px;
    left: 59px;
    top: -10px;
    
}

.leg-right {
    border: 3px solid #A39D9D;
    border-radius: 50px;
    background: #5B3712;
    position: relative;
    width: 40px;
    height: 280px;
    left: 259px;
    top: -290px;
}

.roller {
    border: 4px solid #A39D9D;
    background: gray;
    border-radius: 50px;
    position: relative;
    width: 320px;
    height: 65px;
    left: 20px;
    top: -292px;
    }

.inside-roller {
    border: 4px solid #A39D9D;
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    width: 300px;
    height: 30px;
    left: 6px;
    top: 15px;
}