* {
  box-sizing: border-box;
}

/* Container One */

.container-one {
    border: 4px solid black;
    width:960px;
    height:570px;
    margin:auto;
}

    #red-box {
    background: red;
    width: 200px;
    height: 200px;
}
    #green-box {
    position:relative;
    width: 200px;
    height: 200px;
    top: -200px;
    right:-752px;
    background: green;
}

#blue-box {
    position:relative;
    width: 200px;
    height: 200px;
    top: -38px;
    background: blue;
}

 #yellow-box {
    position:relative;
    width: 200px;
    height: 200px;
    top: -238px;
    right: -752px;
    background: yellow;
}

/* Container Two */

.container-two {
    border: 4px solid black;
    width:960px;
    height:570px;
    margin:auto;
}

#vertical_red-box {
    position:relative;
    width: 240px;
    height: 562px;
    right:0px;
    background: red;
}

#vertical_green-box {
    position:relative;
    width: 240px;
    height: 562px;
    right:-240px;
    top: -562px;
    background: green;
}

#vertical_blue-box {
    position:relative;
    width: 240px;
    height: 562px;
    right:-480px;
    top: -1124px;
    background: blue;
}

#vertical_yellow-box {
    position:relative;
    width: 240px;
    height: 562px;
    right: -712px;
    top: -1686px;
    background: yellow;
}

/* Container Three */

.container-three {
    border: 4px solid black;
    width:960px;
    height:575px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin: auto;
}

#horizontal_red-box {
    width: 920px;
    height: 120px;
    background: red;
}

#vertical_left-green-box {
    position:relative;
    width: 175px;
    height: 395px;
    top: 20px;
    padding-right: 20px;
    background: green;
}

#square_blue-box {
    position:relative;
    width: 730px;
    height: 395px;
    left: 190px;
    top: -375px;
    background: blue;
}