* {
    box-sizing: border-box;
}

.main-container {
    width: 1000px;
    margin: 0 auto 0 auto;
}

.promo-container {
    
    
}

header { 
    display: flex;
    padding: 5px;
    background: yellow ;
    
}

.pill-button {
    font-family:"PT Sans", sans-serif;
}

p {
    font-family: "Noto Serif", serif;
}

h1, h3{
    font-family:"PT Sans", sans-serif;
    text-align:center;
}


.pill-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

img {
    border: 1px solid black;
    position: relative;
    margin-top: 4px;
    margin-left: 460px;
    width: 250px;
    
}

